{% load static %}
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>Home - Trippy</title>
        <link rel="stylesheet" id="ample-style-css" href="{% static 'style.css' %}" type="text/css" media="all">
    </head>
    <body class="wide">
        <div id="page" class="hfeed site">
            <header>
                <div class="header">
                    <div class="main-head-wrap inner-wrap clearfix">
                        <div id="header-logo-image">
                            <a href="/">
                                <img src="{% static 'images/logo.png' %}" alt="Trippy">
                            </a>
                        </div>
                        <div id="header-text" class="">
                            <h1 id="site-title">
                                <a href="/" title="Trippy" rel="home">Trippy</a>
                            </h1>
                            <p>My own travel map</p>
                        </div>
                    </div>
                    <img src="{% static 'images/header.jpg' %}" alt="Wisdom Pet Medicine" align="right">
                </div>
            </header>
            <div class="main-wrapper">
                <div class="single-page clearfix">
                    <div class="inner-wrap">
                        <div>
                        {% block content %}
                        {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
            <footer id="colophon">
                <div class="inner-wrap">
                        Trippy is a  a fictitious brand created by Cristian Ghita, solely for the purpose of training. All products and people associated with Trippy are also fictitious. Any resemblance to real brands, products, or people is purely coincidental.
                </div>
            </footer>
        </div>
    </body>
</html>
