{% extends "base.html" %}
{% block content %}
<div>
    <h3>Hi traveler!</h3>
    <p>Welcome to your own travel map history.</p>
    <p>Here you can select your visited countries and we make for you a map were you can see them</p>
    <h3>



    </h3>
    <div class="map">
        <a href="{% url 'geo_locations' %}">
            <h3>See your map</h3>
        </a>
    </div>
    <hr>
    <div class="admin">
        <a href="{% url 'admin:index' %}">
            <h3>Add a new country or see your list</h3>
        </a>
    </div>
    <hr>
</div>
{% endblock %}